
#wrap{position: relative; width: 100%; height: auto;background-color: #000;}//wrap
#headBox{ position: fixed; z-index: 500; width: 100%; height: 100px; background-color: #000;

>h1{float: left; width: 20%;height: 100px; background-image: url(../../img/ysl/logo.png); background-size: cover; background-repeat: no-repeat;
 a{display: block; width: 100%; height: 100%;}
}
}//headBox
#gnb{position: absolute; left: 30%; width: 50%; height: 100px;
  >ul{ width: 700px; height: 100px; line-height: 100px;
    >li{float: left;width: 100px; text-align: center; font-size: 18px;
    &:nth-child(1){margin-left: 50px;}
    &::after{content: " "; display: block; position:absolute;z-index:-1;
          top: 100px; width: 100%;height: 0;
          transition: height 1000ms ease;}
    &.action::after{height: 250px;}

      >.list_arr{position: absolute; width:100%; height: 100px; 
      >li{float: left;width: auto; height: auto; text-align: center; margin-right: 20px; font-size: 15px;}
    }

      >a{display: block; color: #fff; font-size: 18px; font-weight: bold;}
  
    }//li
  }//.list_01

}//gnb
#unb{float: right;width: 20%;height: auto;
>ul{width: 100%;height: 100px;
 >li{float: left; width: 50px; height: 100px; margin-top: 20px; margin-left: 30px;
  >a{display: block; width: 50px;height: 50px; line-height: 50px; font-size: 30px; color: #fff;}
    }//li
  }//ul
}//unb